html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  margin: 0px;
  font-family: "ubuntu", sans-serif;
}

.container {
  /* align-self: center; */
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
}

.ilustration {
  padding: 5rem 10rem 5rem 0;
}

.ilustration img {
  width: 100%;
}

.logInCard {
  border: 5px solid #00aff5;
  border-radius: 39px;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.texte {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */
.texte-title {
  font-weight: 500;
  font-size: 3rem;
  color: #030045;
  margin-bottom: 1rem;
}

.texte-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #a0a0a0;
}
.invalid {
  border: 2px solid #00aff5;
  border-radius: 50px;
  padding: 0.7rem;
  padding-left: 1.1rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.invalid-text {
  font-weight: 500;
  font-size: 1.15rem;
  color: rgb(233, 12, 12);
}
.invalid-icon {
  height: 3rem;
  width: 3rem;
  color: rgb(233, 12, 12);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inputGroup {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #030045;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  font-size: 1.7rem;
  top: 0%;
  left: 0%;
  transform: translateY(-50%) scale(1);
  margin-left: 2rem;
  margin-top: 0px;
  background-color: #ffffff;
}
.inputGroup :is(input:focus, input:valid) {
  border-color: #030045;
}

.btn-logIN {
  padding: 1rem 4rem;
  width: 100%;
  color: white;
  background-color: #00aff5;
  border-radius: 999px;
  border: #00aff5;
  border: solid transparent;
  font-size: large;
  font-weight: 500px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-self: flex-end;
  box-shadow: 2px 2px 4px rgba(45, 35, 66, 0.2);
  transition: all 0.3s;
}

.btn-logIN:hover {
  box-shadow: 0px 5px 10px rgba(45, 35, 66, 0.3);
  transform: translateY(-2px);
}

.btn-logIN:active {
  box-shadow: inset 0 0 7px rgba(45, 35, 66, 0.3);
  transform: translateY(2px);
}

.linkToSignup {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.linkToSignup p {
  color: rgba(160, 160, 160, 1);

  font-weight: 100;
}

.linkToSignup a {
  font-weight: 700;
  color: #030045;
}
