html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  margin: 0px;
  font-family: "ubuntu", sans-serif;
}

.invalid {
  border: 2px solid #00aff5;
  border-radius: 50px;
  padding: 0.7rem;
  padding-left: 1.1rem !important;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.invalid-text {
  font-weight: 500;
  font-size: 1.5rem !important ;
  color: rgb(233, 12, 12);
}
.invalid-icon {
  height: 3rem;
  width: 3rem;
  color: rgb(233, 12, 12);
}

.container {
  /* align-self: center; */
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
}

.ilustration {
  padding: 5rem 10rem 5rem 0;
}

.ilustration img {
  width: 100%;
}

.sign-up-card {
  border: 5px solid #00aff5;
  border-radius: 39px;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-title {
  font-weight: 500;
  font-size: 3rem;
  color: #030045;
  margin-bottom: 1rem;
}
.text-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #a0a0a0;
}

.invalid {
  border: 2px solid #00aff5;
  border-radius: 50px;
  padding: 0.7rem;
  padding-left: 1.1rem !important;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.invalid-text {
  font-weight: 500;
  font-size: 170% ;
  color: rgb(233, 12, 12);
}
.invalid-icon {
  height: 3rem;
  width: 3rem;
  color: rgb(233, 12, 12);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inputGroup {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #030045;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  top: 0%;
  left: 10%;
  transform: translateY(-50%) scale(1.1);
  margin: 0px;
  margin-top: 0px;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #030045;
}

.inputname {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.btn-signup {
  padding: 1rem 3rem;
  width: 100%;
  color: #fff;
  background-color: #00aff5;
  border-radius: 999px;
  transition: all 0.3s;
  border: 1px solid #00aff5;
  font-size: large;
  font-family: "ubuntu";
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-self: flex-end;
  text-align: left;
}

.btn-signup:hover {
  background-color: #fff;
  color: #030045;
}
.link-to-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.link-to-login p {
  color: rgba(160, 160, 160, 1);

  font-weight: 100;
}

.link-to-login a {
  font-weight: 700;
  color: #030045;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  margin: 0px;
  font-family: "ubuntu", sans-serif;
}

.container {
  /* align-self: center; */
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
}

.ilustration {
  padding: 5rem 10rem 5rem 0;
}

.ilustration img {
  width: 100%;
}

.sign-up-card {
  border: 5px solid #00aff5;
  border-radius: 39px;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-title {
  font-weight: 500;
  font-size: 3rem;
  color: #030045;
  margin-bottom: 1rem;
}
.text-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #a0a0a0;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input[type="text" i] {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  color: #030045;
}

input[type="date" i] {
  /* opacity: 0; */
  color: #fff;
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  padding: 0.7rem 1rem !important;
}

input[type="date" i]:focus,
input[type="date" i]:valid {
  color: #030045;
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ff500a;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 4px;
  border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.inputGroup {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup select{
  font-size: 1.5rem;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 100%;
}

.inputGroup option{
  font-size: 1.5rem;
  font-family: "ubuntu", sans-serif;
}

.inputGroup input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  margin-left: 2rem;
  top: 50%;
  /* left: 5%; */
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #030045;
  background-color: #03004500;
}

.inputGroup :is(input:focus, input:valid) ~ label {
  top: 0%;
  left: 0%;
  transform: translateY(-50%) scale(1);
  margin-left: 2rem;
  padding-left: 0rem;
  margin-top: 0px;
  font-size: 1.7rem;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #030045;
}

.inputname {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.btn-signup {
  padding: 1rem 3rem;
  width: 100%;
  color: #fff;
  background-color: #00aff5;
  border-radius: 999px;
  transition: all 0.3s;
  border: 1px solid #00aff5;
  font-size: 1.81rem;
  font-family: "ubuntu";
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: flex-end;
  text-align: left;
}

.btn-signup:hover {
  background-color: #fff;
  color: #030045;
}
.link-to-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.link-to-login p {
  color: rgba(160, 160, 160, 1);

  font-weight: 100;
}

.link-to-login a {
  font-weight: 700;
  color: #030045;
}