/* ****************************** */
/* HEADER */
/* ****************************** */

.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  padding: 0 10rem;
  background-color: #fff;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  height: 6rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 4rem;
}
.nav-righthand {
  display: flex;
  gap: 1rem;
}
.nav-ele {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.nav-ele span,
.quisommenous {
  color: #030045;
  font-size: 1.4rem;
  font-weight: 500;
}
.nav-ele span:hover,
.nav-ele span:active .quisommenous:hover,
.quisommenous:active {
  text-decoration: underline;
}
.nav-ele ion-icon {
  color: #00aff5;
  height: 1.6rem;
  width: 1.6rem;
}

.nav-login * {
  font-size: 1.4rem;
  transition: all 0.3s;
}
.btn--login {
  border-right: 1px solid #030045;
  font-weight: 400;
  padding: 0 1rem;
  height: 2rem;
}
.btn--login:hover,
.btn--login:active {
  color: #00aff5;
  background-color: #fff;
}
.btn--login:visited,
.btn--login:link {
  color: #030045;
  background-color: #fff;
}

.btn--signup {
  color: #fff;
  background-color: #00aff5;
  border: 1px solid #00aff5;
  border-radius: 11px;
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  font-weight: 500;
}
.btn--signup:hover,
.btn--signup:active {
  background-color: #fff;
  color: #030045;
}
/* ****************************** */
/* HERO SECTION */
/* ****************************** */
.section-hero {
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  max-width: 115rem;
  margin: 0 auto;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.hero-img {
  width: 100%;
}
.hero-title {
  font-weight: 500;
  font-size: 5.2rem;
}
.hero-subtext {
  font-weight: 500;
  font-size: 1.8rem;
}

.searchbar {
  min-height: fit-content;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
  /*  */
  /* height: 4rem; */
}

.searchbar-text-box > * {
  padding: 0 1rem;
  position: relative;
}

.searchbar-text-box > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: calc(100% - 1rem);
  background-color: #ccc;
  right: -1rem;
  height: 2rem;
}

.searchbar-text-box {
  max-width: 90rem;
  height: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 4fr 3fr 1fr;
  border: 1px solid #767676;
  border-radius: 15px;
  width: fit-content;
  flex: 1;
  padding: 0 1rem;
}

.searchbar-btn {
  border: 1px solid #00aff5;
  padding: 0 3rem;
  flex-shrink: 1;
  border-radius: 15px;
  vertical-align: bottom;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.searchbar-btn:link,
.searchbar-btn:visited {
  background-color: #00aff5;
  color: #fff;
}
.searchbar-btn:hover,
.searchbar-btn:active {
  background-color: #fff;
  color: #030045;
}

.searchbar-text-box div {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
.depart {
  padding: 0 !important;
}
.arrive-text {
  margin-left: 1rem;
}

.personnes {
  cursor: pointer;
}
.searchbar-text-box .personnes {
  border: none;
  width: fit-content;
}
.depart-text,
.arrive-text {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #030045;
  width: 28rem;
}
.depart-text::placeholder,
.arrive-text::placeholder {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #767676;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  border: none;
}

input[type="date"] {
  border-radius: 5px;
  font-size: 2rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ff500a;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
  color: #030045;
  display: flex;
  align-items: center;
}

input[type="date"]::-webkit-input-placeholder {
  color: transparent;
}

input[type="date"]:-moz-placeholder {
  color: transparent;
}

input[type="date"]::-moz-placeholder {
  color: transparent;
}

input[type="date"]:-ms-input-placeholder {
  color: transparent;
}
input[type="date" i] {
  align-items: center;
  display: inline-flex;
  color: #030045;
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  padding-inline-start: 1px;
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
}
.date-text,
.personnes-text {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "ubuntu", sans-serif;
  color: #030045;
  cursor: pointer;
}
.searchbar-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #030045;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

/* ****************************** */
/* INFO SECTION */
/* ****************************** */
.section-info {
  background-color: #00aff5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 0;
}
.info-ele {
  display: flex;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}
  .info-img {
  width: 100%;
  /* filter: blur(10px);
    transition: filter 0.5s ease-in-out;  */ 
}  

/* transition 2 */
/*
.info-img {
  width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out, visibility 0s 0.6s;
}

.show-image-transition {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease-in, visibility 1s 0s;
}  */     

h1 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

img {
  transition: filter 2s;
}

.lazy-img {
  filter: blur(20px);
}

.info-textbubble {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: start;
  height: 100%;
}
.bubble1 {
  background-image: url(../img/bubble1.png);
  padding: 6rem 6rem 8rem 7rem;
}
.bubble2 {
  background-image: url(../img/bubble2.png);
  padding: 5rem 4rem 8rem 8rem;
}
.bubble3 {
  background-image: url(../img/bubble3.png);
  padding: 6rem 5rem 7rem 8rem;
}

.info-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info-title-icon {
  color: #030045;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding: 1rem;
  background-color: #66d0f9;
}
.info-title-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  font-size: 2.2rem;
  font-weight: 700;
}
.info-title-text.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.info-text {
  font-size: 2rem;
  line-height: 3rem;
}

/* ****************************** */
/* TOPTRAJETS SECTION */
/* ****************************** */
.section-toptrajets {
  background-color: #030045;
  width: 100%;
  padding: 7rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 0;
}
.trajets-title {
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}
.trajets {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}
.trajet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 30%;
  padding: 2rem 2rem;
  border-radius: 25px;
  gap: 0.5rem;
}
.trajet:hover *,
.trajet:active * {
  color: #00aff5 !important;
  transition: all 0.3s !important;
}
.trajet-text {
  font-size: 2rem;
  color: #030045;
}
.trajet-text-arrow {
  height: 2.3rem;
  width: 2.3rem;
  color: #030045;
}
.trajet-fleche {
  height: 3rem;
  width: 3rem;
  margin-left: auto;
}
.trajet:hover ion-icon {
  color: #00aff5;
  transition: all 0.5s;
}
.trajet:active ion-icon {
  color: #00aff5;
  transition: all 0.5s;
}
.trajet:link .trajet-fleche,
.trajet:visited .trajet-fleche {
  color: #030045;
}
.trajet-more {
  font-size: 3rem;
  color: #00aff5;
  display: flex;
}
.trajet-more-text {
  color: #00aff5;
}
.morelink:hover .trajet-more-text,
.morelink:active .trajet-more-text {
  text-decoration: underline;
}
.trajet-more-fleche {
  color: #00aff5;
  vertical-align: text-bottom;
  height: 3.5rem;
  width: 3.5rem;
}
/* ****************************** */
/* FOOTER */
/* ****************************** */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 120rem;
  margin: 0 auto;
  gap: 2rem;
  padding: 10rem 0;
}
.copyright,
.contact,
.compte,
.resources {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.5rem;
}
.footer-title {
  margin-bottom: 2rem;
}
.footer-element {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 500ms;
}
.footer-element:hover,
.footer-element:active {
  color: #030045;
  text-decoration: underline;
  transition: all 500ms;
}
.footer-element:link,
.footer-element:visited {
  color: #030045;
}
.footer-logo {
  height: 6rem;
}
.sm-logos {
  display: flex;
  gap: 1rem;
}
.sm-logo {
  color: #767676;
  height: 2rem;
  width: 2rem;
  transition: all 300ms;
}
.sociallink:hover .sm-logo,
.sociallink:active .sm-logo {
  color: #444;
}
.copyright-text {
  color: #767676;
  margin-top: 3.5rem;
}
.address:hover,
.address:active {
  text-decoration: none !important;
}
