.section-hero {
  padding-top: 2rem;
}
section {
  padding: 0 15rem;
}
/* ****************************** */
/* HEADER */
/* ****************************** */

.header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  padding: 0 15rem;
  background-color: #fff;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  height: 6rem;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 4rem;
}
.nav-righthand {
  display: flex;
  gap: 2rem;
}
.nav-ele {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.nav-ele span,
.quisommenous span {
  color: #030045;
  font-size: 1.7rem;
  font-weight: 500;
  transition: all 0.3s;
}
.whiteicon {
  margin-top: 0.2rem;
  transition: all 0.3s;
  height: 2rem;
  width: 2rem;
  color: #00aff5;
}
.nav-ele:hover span,
.nav-ele:active span,
.quisommenous:hover span,
.quisommenous:active span,
.nav-ele:hover .whiteicon,
.nav-ele:active .whiteicon {
  color: #00aff5;
}

.nav-login * {
  font-size: 1.6rem;
  transition: all 0.3s;
}

.btn--login {
  border-right: 1px solid #030045;
  font-weight: 500;
  padding: 0 1rem;
  height: 2rem;
}

.btn--login:visited,
.btn--login:link {
  color: #030045;
  background-color: #fff;
}

.btn--login:hover,
.btn--login:active {
  color: #00aff5;
  background-color: #fff;
}

.btn--signup {
  border: 3px solid #00aff5;
  color: #fff;
  background-color: #00aff5;
  border-radius: 11px;
  padding: 0.3rem 2rem;
  margin-left: 1rem;
  font-weight: 500;
}
.btn--signup:hover,
.btn--signup:active {
  color: #030045;
  background-color: #fff;
}
/* ****************************** */
/* HERO SECTION */
/* ****************************** */
.section-hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  gap: 6.2rem;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
}
.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.hero-img {
  width: 100%;
}
.hero-title {
  font-weight: 500;
  font-size: 5.5rem;
}
/* .hero-subtext {
  font-weight: 500;
  font-size: 2.1rem;
} */
.hero-subtext {
  font-weight: 500;
  font-size: 2.1rem;
  white-space: pre-line;
  overflow: hidden;
  /* border-right: 0.15em solid #000; Animation du curseur */
  animation: typing 2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.searchbar {
  min-height: fit-content;
  display: flex;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
}
.searchbar:hover .searchbar-text-box,
.searchbar:hover .searchbar-btn,
.searchbar:active .searchbar-text-box,
.searchbar:active .searchbar-btn {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0rem 4rem rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}

.searchbar-text-box > * {
  padding: 0 1rem;
  position: relative;
}

.searchbar-text-box > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: calc(100% - 1rem);
  background-color: #ccc;
  right: -1rem;
  height: 2rem;
}

.searchbar-text-box {
  height: 5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 4fr 3fr 1fr;
  border: 1px solid #767676;
  border-radius: 15px;
  width: fit-content;
  flex: 1;
  padding: 0 2rem;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0rem 2rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.searchbar-btn {
  border: 3px solid #00aff5;
  padding: 0 3rem;
  flex-shrink: 1;
  border-radius: 15px;
  vertical-align: bottom;
  font-size: 2.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0rem 2rem rgba(0, 0, 0, 0.25);
}
.searchbar-btn:link,
.searchbar-btn:visited {
  background-color: #00aff5;
  color: #fff;
}
.searchbar-btn:hover,
.searchbar-btn:active {
  background-color: #fff;
  color: #030045;
}

.searchbar-text-box div {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
.depart {
  padding: 0 !important;
}
.arrive-text {
  /* margin-left: 1rem; */
}

.personnes {
  cursor: pointer;
}
.searchbar-text-box .personnes {
  border: none;
  width: fit-content;
}
.depart-text,
.arrive-text {
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #030045;
  width: 100%;
}
.arrive {
  margin-left: 1rem;
}
.depart-text::placeholder,
.arrive-text::placeholder {
  font-size: 2.3rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #767676;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  border: none;
}

input[type="date"] {
  border-radius: 5px;
  font-size: 2.3rem;

  -webkit-text-fill-color: #030045;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #ff500a;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

label {
  font-size: 2rem;
  font-weight: bold;
  color: #030045;
  display: flex;
  align-items: center;
}

input[type="date"]::-webkit-input-placeholder {
  color: transparent;
}

input[type="date"]:-moz-placeholder {
  color: transparent;
}

input[type="date"]::-moz-placeholder {
  color: transparent;
}

input[type="date"]:-ms-input-placeholder {
  color: transparent;
}
input[type="date" i] {
  align-items: center;
  display: inline-flex;
  color: #030045;
  font-family: "ubuntu", sans-serif;
  font-weight: 700;
  padding-inline-start: 1px;
  cursor: pointer;
  overflow: hidden;
  padding: 0px;
}
.date-text,
.personnes-text {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "ubuntu", sans-serif;
  color: #030045;
  cursor: pointer;
}
.searchbar-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #030045;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

/* ****************************** */
/* INFO SECTION */
/* ****************************** */
.section-info {
  background-color: #00aff5;
  padding: 10rem 15rem;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}
.info-ele {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.info-img {
  width: 100%;
  /* filter: blur(10px); */
  transition: filter 0.5s ease-in-out;
}

h1 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.show {
  opacity: 1;
}

img {
  transition: filter 2s;
}

.lazy-img {
  filter: blur(20px);
}

.info-textbubble {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
.info-container {
  gap: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.bubble1 {
  background-image: url(../img/bubble1.png);
}
.bubble1 .info-container {
  height: 80%;
  width: 80%;
}
.bubble2 {
  background-image: url(../img/bubble2.png);
}
.bubble2 .info-container {
  height: 80%;
  width: 75%;
}
.bubble3 {
  background-image: url(../img/bubble3.png);
}
.bubble3 .info-container {
  height: 80%;
  width: 75%;
}

.info-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info-title-icon {
  color: #030045;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  padding: 1rem;
  background-color: #66d0f9;
}
.info-title-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  font-size: 2.6rem;
  font-weight: 700;
}
.info-title-text.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.info-text {
  font-size: 2.4rem;
  line-height: 3.3rem;
}

/* ****************************** */
/* TOPTRAJETS SECTION */
/* ****************************** */
.section-toptrajets {
  background-color: #030045;
  width: 100%;
  padding: 7rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 0;
}
.trajets-title {
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}
.trajets {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}
.trajet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 30%;
  padding: 2rem 2rem;
  border-radius: 25px;
  gap: 0.5rem;
}
.trajet:hover *,
.trajet:active * {
  color: #00aff5 !important;
  transition: all 0.3s !important;
}
.trajet-text {
  font-size: 2.3rem;
  color: #030045;
}
.trajet-text-arrow {
  height: 2.3rem;
  width: 2.3rem;
  color: #030045;
}
.trajet-fleche {
  height: 3rem;
  width: 3rem;
  margin-left: auto;
}
.trajet:hover ion-icon {
  color: #00aff5;
  transition: all 0.5s;
}
.trajet:active ion-icon {
  color: #00aff5;
  transition: all 0.5s;
}
.trajet:link .trajet-fleche,
.trajet:visited .trajet-fleche {
  color: #030045;
}
.trajet-more {
  font-size: 3rem;
  color: #00aff5;
  display: flex;
  transition: all 0.3s;
}
.trajet-more-text {
  color: #00aff5;
}
.trajet-more:hover,
.trajet-more:active {
  transform: translateY(-5px);
}
.morelink:hover .trajet-more-text,
.morelink:active .trajet-more-text {
  text-decoration: underline;
}
.trajet-more-text {
  text-decoration: none !important;
}
.trajet-more-fleche {
  color: #00aff5;
  vertical-align: text-bottom;
  height: 3.5rem;
  width: 3.5rem;
}
/* ****************************** */
/* FOOTER */
/* ****************************** */
.footer {
  background-color: #030045;
  padding: 10rem 15rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.copyright,
.contact,
.compte,
.resources {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.5rem;
}
.footer-title {
  margin-bottom: 2rem;
  color: #ccc;
}
.footer-element {
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 500ms;
  color: #bcbcbc;
}
.footer-element:hover,
.footer-element:active {
  color: #bcbcbc;
  text-decoration: underline;
  transition: all 500ms;
}
.footer-element:link,
.footer-element:visited {
  color: #bcbcbc;
}
.footer-logo {
  height: 3.5rem;
}
.sm-logos {
  display: flex;
  gap: 1rem;
}
.sm-logo {
  color: #bbb;
  height: 2rem;
  width: 2rem;
  transition: all 300ms;
}
.sociallink:hover .sm-logo,
.sociallink:active .sm-logo {
  color: #bbb;
}
.copyright-text {
  color: #ccc;
  margin-top: 3.5rem;
}
.address:hover,
.address:active {
  text-decoration: none !important;
}
/* #0f0 */
/* //////////////////////////// */
/* PROFIL CSS HANDING */
/* //////////////////////////// */
.nav-profile {
  display: flex;
  flex-direction: column;
  padding: 1rem 0px;
}
.profile-pic {
  height: 5rem;
  width: 5rem;
  border: 3px solid #030045;
  border-radius: 999px;
  cursor: pointer;
}
.profile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 7rem;
  top: 7rem;
  max-width: 22rem;
  border-radius: 1.3rem 1.3rem 1.3rem 1.3rem;
  /* Clip the box shadows to container */
  overflow: hidden;
  /* Add box shadows */
  transition: all 0.5s;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}
.bbl {
  width: 100%;
}
.profile-menu-ele {
  background-color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  font-size: 1.7rem;
  font-weight: 500;
  color: red;
  cursor: pointer;
}
.profile-menu-ele:hover,
.profile-menu-ele:active {
  background-color: #daf4ff;
}

.profile-menu-ele:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
}
.profile-menu-ele:not(:last-child) {
  color: #030045;
}
/* .last {
  padding-bottom: 0px;
} */
/* .--absolute::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid #daf4ff;
  display: block;
  transform: translateX(0.5rem);
} */
.--absolute::before + .profile-menu-ele:hover {
  background-color: #c3e5f3;
}
/* .--absolute::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #000;
  display: block;
  height: 1rem;
  width: 2rem;
  background-color: #d8d8d8;
} */

/* .child {
  padding-top: 0px;
} */
