nav{
    /* background-color: #00AFF5; */
    background-image: url(imags/WavyVisuals.svg);
    display: flex;
    width: 1280;
    height: 50px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 15px 50px;
    margin: 0px;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    cursor: pointer;
  }
  
  .logo img{
    width: 40px;
    align-self: center;
  }
  
  .logo h1{
    font-size: larger;
    font-weight: 700;
    color: white;
    padding-left: 10px;
    letter-spacing: -0.5%;
    text-align: center;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
  }
  
  .ajouter{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  
  
  .ajouter p {
    font-size: medium;
    font-weight: 500;
    color: white;
    padding-left: 5px;
    transition: color ease-in, 800ms;
  }
  
  .Search{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .Search p {
    font-size: medium;
    font-weight: 500;
    color: white;
    padding-left: 5px;
    transition: color ease-in, 800ms;
  }
  
  .ajouter p:hover{
    color: rgba(255, 255, 255, 0.712);
  }
  
  .Search p:hover{
    color: rgba(255, 255, 255, 0.712);
  }
  